groups:
- name: generic
  rules:
  # Alert for any instance that is unreachable for >5 minutes.
  - alert: instance_down
    expr: {% raw %}up{{% endraw %}{{ prometheus_instance_down_matchers|join(',') }}} == 0
    for: 5m
    labels:
      severity: high
    annotations:
      {% raw %}
      summary: "Instance {{ $labels.instance }} down"
      description: "{{ $labels.instance }} has been down for more than 5 minutes."
      {% endraw %}

  - alert: failed_notifications
    expr: increase(alertmanager_notifications_failed_total[1h]) > 0
    for: 0m
    labels:
      severity: high
    annotations:
      {% raw %}
      summary: "Failed alerts for {{ $labels.integration }}"
      description: "Alertmanager was unable to send alerts to {{ $labels.integration }}"
      {% endraw %}
  {% for alert_rule in prometheus_custom_alerts|default([]) %}

  - alert: {{ alert_rule.alert }}
    expr: {{ alert_rule.expr }}
    for: {{ alert_rule.for }}
    labels: {{ alert_rule.labels }}
    annotations: {{ alert_rule.annotations }}
  {% endfor %}
