{% for scrape_config in prometheus_scrape_configs %}
{% for job, targets in scrape_config.items()  %}
- job_name: {{ job }}
  static_configs:
  - targets: {{ targets }}
{% endfor %}
{% endfor %}
{% for federate_config in prometheus_federate_configs %}
{% for job, item in federate_config.items()  %}
- job_name: {{ job }}
  honor_labels: true
  metrics_path: '/federate'
  params:
    'match[]': {{ item.matchers }}
  static_configs:
    - targets: {{ item.targets }}
{% endfor %}
{% endfor %}
