---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-alert-rules-config
  namespace: default
data:
  generic.yml: |
    ---
    groups:
      - name: generic
        rules:

          # Alert for any instance that is unreachable for >5 minutes.
          - alert: instance_down
            expr: {% raw %}up{{% endraw %}{{ prometheus_instance_down_matchers|join(',') }}} == 0
            for: 5m
            labels:
              severity: high
            annotations:
              {% raw %}
              summary: "Instance {{ $labels.instance }} down"
              description: "{{ $labels.instance }} has been down for more than 5 minutes."
              {% endraw %}
